.form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__btn {
    height: 40px;
  }
}
