.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__btn {
    height: 40px;
  }
}

// .alert {
//   position: fixed;
//   top: 10px;
//   right: 30px;
//   width: 400px;
//   border-radius: 10px;
// }
