.btn {
  border: solid 1px black;
  border-right-color: transparent;
  // background: rgba(246, 246, 246, 0.5);
  // backdrop-filter: blur(5px);

  font-size: 14px;
  width: 150px;
  height: 30px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  &:focus,
  &:hover {
    // background-color: #f6f6f6;
    box-shadow: -2px 5px 5px 2px rgba(0, 0, 0, 0.3);
  }
  &.active {
    background: #000;
  }
}
