.phonebook-page {
  &__wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
  }

  &__add-contacts {
    width: 20%;
    min-height: 250px;
  }
  &__list-card {
    position: relative;
    overflow-y: hidden;
    max-height: 580px;
    height: 580px;
  }
}
